
<div class="row">
    <div class="col-md-12">

        <div style="margin-top:10%">

            <h2>Lab1</h2>
            
            <br/>
            
            <p><b>Завдання:</b>

         
            </p>

            <p>
                Задано три числа: a, b, c. Необхідно з'ясувати, чи можна переставити цифри в числах a і b, щоб у сумі вийшло c.
            </p>

                        <br/>
              

            <h2>Вхідні дані</h2>

            <form method="POST">

                <br />


                <label>Input file path:</label><br/>
                <input type="text" name="input_file"/>
                
                <br />

                <label>Output file path:</label><br />
                <input type="text" name="output_file"/>

                <br />
                <br />

                <input type='submit' value='Execute'/>

            </form>

        </div>

    </div>
</div>
