
<div class="row">
    <div class="col-md-12">

        <div style="margin-top:10%">

            <h2>Lab2</h2>

            <br />

            <p>
                <b>Завдання:</b>


            </p>

            <p>
                У пошуках їжі велика дружна родина кроликів дісталася морквяного поля. На жаль, трохи раніше сюди прибула велика дружна сім'я голодних хом'яків. Щоб уникнути конфлікту, було вирішено збирати врожай по черзі. Поле є N грядок по M кущів; на кожному кущі росте кілька морквин. Черговий збираючий стартує від будь-якого куща першої грядки і рухається до останньої, переходячи від одного куща до іншого за таким правилом: від куща номер K на грядці L можна перейти тільки на грядку L+1 до одного з трьох кущів з номерами K-1, K , K+1 (звісно, ​​якщо кущі з такими номерами є). Кожен відвіданий кущ очищається від моркви повністю. Першим на збирання врожаю виходить один із кроликів, слідом йде хом'як, потім знову кролик і так доти, поки на полі є хоч одна морквина.
                Кролики метушливі, тому вони вибирають шлях найвигідніший зовні: стартують від найбагатшого куща першої грядки, а з трьох наступних варіантів завжди вибирають найбільший кущ (за наявності декількох кущів з однаковим числом морквин вибирається кущ з найбільшим номером). Хом'яки, прибувши на поле раніше, встигли скласти докладну карту поля та підтримують її в актуальному стані на основі оперативних даних про збирання врожаю, тому вони для кожного хом'яка обирають шлях, що дозволяє зібрати максимальну кількість моркви з можливих (за наявності кількох варіантів з максимально можливою кількістю морквин вибирається той, де лексикографічно більша послідовність номерів кущів у порядку відвідування).
                За відомою картою поля визначте, скільки моркви вдалося зібрати кроликам та хом'якам окремо.
            </p>

            <br />


            <h2>Вхідні дані</h2>

            <form method="POST">

                <br />


                <label>Input file path:</label><br />
                <input type="text" name="input_file" />

                <br />

                <label>Output file path:</label><br />
                <input type="text" name="output_file" />

                <br />
                <br />

                <input type='submit' value='Execute' />

            </form>

        </div>

    </div>
</div>
