





<div class="row">
    <div class="col-md-12">

        <div style="margin-top:10%">

            <h2>Lab3</h2>

            <br />

            <p>
                <b>Завдання:</b>


            </p>

            <p>
                Давним давно в одному королівстві правив мудрий король. У тому королівстві було n міст, будь-які з яких були з'єднані дорогою. З метою безпеки дорожнього руху, кожною дорогою дозволялося переміщатися лише в один бік.
                Король любив своє королівство. Щороку він раз здійснював огляд королівства. Кожен огляд починався в столиці, потім король, переміщаючись дорогами, відвідував деякі міста, і, нарешті, прибував у курортне місто на березі моря, де він відпочивав після нелегкої роботи. Таким чином король відвідував кожне місто в королівстві рівно один раз протягом року (за винятком столиці, де кожен огляд починався, і морського курорту, де кожен огляд закінчувався).
                Але роки йшли, і король стає старим. І йому було все складніше робити ці огляди. Тож якось він покликав свого міністра транспорту і наказав йому зробити нову програму для огляду королівства. Огляд має починатися у столиці та закінчуватись на морському курорті. Однак тепер весь цей шлях має відвідувати всі міста, які раніше відвідувалися в процесі оглядів. Більш того, якщо раніше деякі міста A і B відвідувалися в процесі одного огляду і причому A відвідувався до B, то новий огляд також повинен відвідувати A до B.
                Допоможіть королю зробити огляд королівства менш утомливим, розробте новий маршрут для огляду.

            </p>

            <br />

          
            <h2>Вхідні дані</h2>

            <form method="POST">

                <br />


                <label>Input file path:</label><br />
                <input type="text" name="input_file" />

                <br />

                <label>Output file path:</label><br />
                <input type="text" name="output_file" />

                <br />
                <br />

                <input type='submit' value='Execute' />

            </form>

        </div>

    </div>
</div>
